<h2 class="f-w-500 m-b-24" mat-dialog-title><strong>{{action}}</strong></h2>
<mat-dialog-content
  *ngIf="action !== 'Delete'; else elseTemplate">
  <form [formGroup]="customersForm">
    <div class="d-flex align-items-center m-b-16">
      <img
        class="mat-card-avatar"
        [src]="local_data.imagePath"
        class="rounded-circle"
        width="50"
      />
      <button
        mat-flat-button
        color="primary"
        class="m-l-16 input-file-button"
      >
        <input type="file" (change)="selectFile($event)" #fileInput />
      </button>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">First Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            formControlName="firstName"
            type="text"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Middle Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            formControlName="middleName"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Last Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            formControlName="lastName"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">As Per Aadhar Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            formControlName="aadharName"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Aadhar Number</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="number"
            formControlName="aadharNumber"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Pan Number</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            formControlName="panNumber"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Date of Birth</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="date"
            formControlName="dateOfBirth"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Mobile Number</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="number"
            formControlName="mobileNumber"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Email Id</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            formControlName="emailId"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Select Gender</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select value="Male" formControlName="isGender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Select Married Status</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select value="No" formControlName="isMarriedStatus">
            <mat-option value="No">No</mat-option>
            <mat-option value="Yes">Yes</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Select Passport</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select value="No" formControlName="isPassport">
            <mat-option value="No">No</mat-option>
            <mat-option value="Yes">Yes</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6"  *ngIf="customersForm.value.isMarriedStatus === 'Yes'">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Marriage Certificate Number</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="number"
            formControlName="marriageCertificateNumber"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6" *ngIf="customersForm.value.isPassport === 'Yes'">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Passport Number</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="number"
            formControlName="passportNumber"
            matInput
            required
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6" *ngIf="customersForm.value.isPassport === 'Yes'">
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Passport Expired Date</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <input
          type="date"
          formControlName="passportExpiredDate"
          matInput
          required
        />
      </mat-form-field>
    </div>
    </div>
    <button
      mat-flat-button
      (click)="doAction()"
      mat-flat-button
      color="primary"
      [disabled]="!customersForm.valid"
    >
      {{action}}
    </button>
    <button
      mat-stroked-button
      color="warn"
      class="m-l-8"
      (click)="closeDialog()"
    >
      Cancel
    </button>
  </form>
</mat-dialog-content>

<ng-template #elseTemplate>
  <div class="p-x-24">
    <p>Sure to delete <span class="f-w-600">{{local_data.Name}}</span> ?</p>
  </div>
  <div mat-dialog-actions class="p-x-24 p-b-24">
    <button mat-button (click)="doAction()" mat-flat-button color="warn">
      {{action}}
    </button>
    <button mat-button (click)="closeDialog()" class="m-l-8">Cancel</button>
  </div>
</ng-template>
