<mat-card class="cardWithShadow theme-card">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
    <form [formGroup]="customersForm">
      <!-- Personal Information Start -->
      <mat-tab label="Personal Information">
        <mat-card-content>
          <form [formGroup]="customersForm">
            <div class="d-flex align-items-center m-b-16">
              <img class="mat-card-avatar" [src]="getDocumentUrl('userProDileUrl_file','userProDileUrl_show_URL','userProFile')" class="rounded-circle" width="50" />
              <button mat-flat-button color="primary" class="m-l-16 input-file-button" *ngIf="!isEdit">
                <input type="file" (change)="selectUserProFile($event)" #fileInput />
              </button>
            </div>
            <div class="row">
              <div class="col-lg-6 m-t-8">
                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">First Name <span class="required">
                    *</span></mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input formControlName="firstName" type="text" matInput oninput="this.value = this.value.toUpperCase()" />
                  <mat-error *ngIf="customersForm.get('firstName')?.errors?.['required']">First Name is required</mat-error>
                  <mat-error *ngIf="customersForm.get('firstName')?.errors?.['invalidAlphabetic']">First Name must contain
                    only alphabetic characters</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 m-t-8">
                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Middle Name <span class="required">
                    *</span></mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input type="text" formControlName="middleName" matInput
                    oninput="this.value = this.value.toUpperCase()" />
                  <mat-error *ngIf="customersForm.get('middleName')?.errors?.['required']">Middle Name is
                    required</mat-error>
                  <mat-error *ngIf="customersForm.get('middleName')?.errors?.['invalidAlphabetic']">Middle Name must contain
                    only alphabetic characters</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 m-t-8">
                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Last Name <span class="required">
                    *</span></mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input type="text" formControlName="lastName" matInput oninput="this.value = this.value.toUpperCase()" />
                  <mat-error *ngIf="customersForm.get('lastName')?.errors?.['required']">Last Name is required</mat-error>
                  <mat-error *ngIf="customersForm.get('lastName')?.errors?.['invalidAlphabetic']">Last Name must contain
                    only alphabetic characters</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 m-t-8">
                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Date of Birth <span class="required">
                    *</span></mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input type="date" formControlName="dateOfBirth" matInput />
                  <mat-error *ngIf="customersForm.get('dateOfBirth')?.errors?.['required']">Date of Birth is
                    required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 m-t-8">
                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Mobile Number <span class="required">
                    *</span></mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input type="number" formControlName="mobileNumber" matInput />
                  <mat-error *ngIf="customersForm.get('mobileNumber')?.errors?.['required']">Mobile Number is
                    required</mat-error>
                  <mat-error *ngIf="customersForm.get('mobileNumber')?.errors?.['invalidPattern']">Mobile Number must be a
                    10-digit number</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 m-t-8">
                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Email Id <span class="required">
                    *</span></mat-label>
                <mat-form-field appearance="outline" class="w-100">
                  <input type="text" formControlName="emailId" matInput />
                  <mat-error *ngIf="customersForm.get('emailId')?.errors?.['required']">Email Id is required</mat-error>
                  <mat-error *ngIf="customersForm.get('emailId')?.errors?.['email']">Please enter a valid email
                    address</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 m-t-8">
                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Gender</mat-label>
                <div>
                  <mat-radio-group formControlName="isGender">
                    <mat-radio-button class="example-margin" value="male">
                      Male
                    </mat-radio-button>
                    <mat-radio-button class="example-margin" value="female">
                      Female
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-lg-6 m-t-8">
                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Married</mat-label>
                <div>
                  <mat-radio-group formControlName="isMarriedStatus">
                    <mat-radio-button class="example-margin" value="no">
                      No
                    </mat-radio-button>
                    <mat-radio-button class="example-margin" value="yes">
                      Yes
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </form>
          <div class="m-t-12 text-right">
            <button mat-flat-button color="primary" [disabled]="customersForm.invalid" (click)="submitData()">{{!isEdit ? 'Save' : 'UpDate'}}</button>
            <button mat-flat-button color="warn" class="m-l-8">Cancel</button>
          </div>
        </mat-card-content>
      </mat-tab>
      <!-- Personal Information End -->
    
      <!-- Pancard Form Start -->
      <mat-tab label="Pan Card">
        <mat-card-content>   
          <div class="row">
            <div class="col-lg-12 text-right b-b-1 p-b-10 m-b-20" *ngIf="!customersForm.value.panCardUrl">
              <span class="error-text">No record available please generate the link.</span>
            </div>
              <div class="col-lg-12 d-flex flex-column align-items-center">
                <div class="image-container">
                  <img class="aadhar-img" [src]="getDocumentUrl('pancard_file','pancard_show_URL','panCardUrl')" />
                  <div class="upload-icon" (click)="panCardPic.click()">
                    <i-tabler name="upload" class="icon-20"></i-tabler>
                  </div>
                </div>
                <div class="d-flex align-items-center m-b-16 m-t-16">
                  <img class="mat-card-avatar" [src]="getDocumentUrl('pancard_file','pancard_show_URL','panCardUrl')" class="rounded-circle" width="50" />
                  <button mat-flat-button color="primary" class="m-l-16 input-file-button">
                    <input type="file" (change)="displaySelectedFile($event, 'pancard_file', 'pancard_show_URL')" #panCardPic />
                  </button>
                </div>
              </div>
          </div>
    
          <div class="m-t-12 text-right">
            <button mat-flat-button color="primary">Generate Link</button>
            <button mat-raised-button color="accent" class="m-l-8" (click)="uploaddocuments('panCard','pancard_file')">Upload</button>
            <button mat-flat-button color="warn" class="m-l-8" (click)="cancel('pancard')">Cancel</button>
          </div>
        </mat-card-content>
      </mat-tab>
      <!-- Pancard Form Start -->
    
      <!-- Aadhar Card Form Start -->
      <mat-tab label="Aadhar Card">
        <mat-card-content>
    
          <div class="row">
            <div class="col-lg-12 text-right b-b-1 p-b-10 m-b-20" *ngIf="!customersForm.value.aadharCardFontUrl && !customersForm.value.aadharCardBackUrl">
              <span class="error-text">No record available please generate the link.</span>
            </div>
            <div class="col-lg-6 d-flex flex-column align-items-center">
              <div class="image-container">
                <img class="aadhar-img" [src]="getDocumentUrl('aadharCardFont_file' , 'aadharCardFont_show_URL' , 'aadharCardFontUrl')" />
                <div class="upload-icon" (click)="aadharCardFontPic.click()">
                  <i-tabler name="upload" class="icon-20"></i-tabler>
                </div>
              </div>
              <div class="d-flex align-items-center m-b-16 m-t-16">
                <img class="mat-card-avatar" [src]="getDocumentUrl('aadharCardFont_file' , 'aadharCardFont_show_URL' , 'aadharCardFontUrl')" class="rounded-circle" width="50" />
                <button mat-flat-button color="primary" class="m-l-16 input-file-button">
                  <input type="file" (change)="displaySelectedFile($event, 'aadharCardFont_file', 'aadharCardFont_show_URL')"
                    #aadharCardFontPic />
                </button>
              </div>
            </div>
            <div class="col-lg-6 d-flex flex-column align-items-center">
              <div class="image-container">
                <img class="aadhar-img" [src]="getDocumentUrl('aadharCardBack_file' , 'aadharCardBack_show_URL' , 'aadharCardBackUrl')" />
                <div class="upload-icon" (click)="aadharCardBackPic.click()">
                  <i-tabler name="upload" class="icon-20"></i-tabler>
                </div>
              </div>
              <div class="d-flex align-items-center m-b-16 m-t-16">
                <img class="mat-card-avatar" [src]="getDocumentUrl('aadharCardBack_file' , 'aadharCardBack_show_URL' , 'aadharCardBackUrl')" class="rounded-circle" width="50" />
                <button mat-flat-button color="primary" class="m-l-16 input-file-button">
                  <input type="file" (change)="displaySelectedFile($event, 'aadharCardBack_file', 'aadharCardBack_show_URL')"
                    #aadharCardBackPic />
                </button>
              </div>
            </div>
          </div>
    
          <div class="m-t-12 text-right">
            <button mat-flat-button color="primary">Generate Link</button>
            <button mat-raised-button color="accent" class="m-l-8"  (click)="aadharCardFontAndBackImageUpload()" >Upload</button>
            <button mat-flat-button color="warn" class="m-l-8" (click)="cancel('aadharCard')">Cancel</button>
          </div>
        </mat-card-content>
      </mat-tab>
      <!-- Aadhar Card Form Start -->
    
      <!-- Driving License Form Start -->
      <mat-tab label="Driving License">
        <mat-card-content>
          <div class="row">
            <div class="col-lg-12 text-right b-b-1 p-b-10 m-b-20" *ngIf="!customersForm.value.drivingLicenseUrl">
              <span class="error-text">No record available please generate the link.</span>
            </div>
              <div class="col-lg-12 d-flex flex-column align-items-center">
                <div class="image-container">
                  <img class="aadhar-img" [src]="getDocumentUrl('drivingLicense_file' , 'drivingLicense_show_URL' , 'drivingLicenseUrl')" />
                  <div class="upload-icon" (click)="drivingLicense.click()">
                    <i-tabler name="upload" class="icon-20"></i-tabler>
                  </div>
                </div>
                <div class="d-flex align-items-center m-b-16 m-t-16">
                  <img class="mat-card-avatar" [src]="getDocumentUrl('drivingLicense_file' , 'drivingLicense_show_URL' , 'drivingLicenseUrl')" class="rounded-circle" width="50" />
                  <button mat-flat-button color="primary" class="m-l-16 input-file-button">
                    <input type="file" (change)="displaySelectedFile($event, 'drivingLicense_file', 'drivingLicense_show_URL')"
                      #drivingLicense />
                  </button>
                </div>
              </div>
          </div>
    
          <div class="m-t-12 text-right">
            <button mat-flat-button color="primary">Generate Link</button>
            <button mat-raised-button color="accent" class="m-l-8" (click)="uploaddocuments('drivingLicense','drivingLicense_file')">Upload</button>
            <button mat-flat-button color="warn" class="m-l-8" (click)="cancel('drivingLicense')">Cancel</button>
          </div>
        </mat-card-content>
      </mat-tab>
      <!-- Driving License Form Start -->
    
      <!-- passport Form Start -->
      <mat-tab label="Pass Port">
        <mat-card-content>
    
          <div class="row">
            <div class="col-lg-12 text-right b-b-1 p-b-10 m-b-20" *ngIf="!customersForm.value.passPortUrl">
              <span class="error-text">No record available please generate the link.</span>
            </div>
              <div class="col-lg-12 d-flex flex-column align-items-center">
                <div class="image-container">
                  <img class="aadhar-img" [src]="getDocumentUrl('passPortUrl_file' , 'passPortUrl_show_URL' , 'passPortUrl')" />
                  <div class="upload-icon" (click)="passPortPic.click()">
                    <i-tabler name="upload" class="icon-20"></i-tabler>
                  </div>
                </div>
                <div class="d-flex align-items-center m-b-16 m-t-16">
                  <img class="mat-card-avatar" [src]="getDocumentUrl('passPortUrl_file' , 'passPortUrl_show_URL' , 'passPortUrl')" class="rounded-circle" width="50" />
                  <button mat-flat-button color="primary" class="m-l-16 input-file-button">
                    <input type="file" (change)="displaySelectedFile($event, 'passPortUrl_file', 'passPortUrl_show_URL')" #passPortPic />
                  </button>
                </div>
              </div>
          </div>
    
          <div class="m-t-12 text-right">
            <button mat-flat-button color="primary">Generate Link</button>
            <button mat-raised-button color="accent" class="m-l-8" (click)="uploaddocuments('passPortUrl','passPortUrl_file')">Upload</button>
            <button mat-flat-button color="warn" class="m-l-8" (click)="cancel('passPort')">Cancel</button>
          </div>
        </mat-card-content>
      </mat-tab>
      <!-- passport Form End -->
    
      <!-- voting Form Start -->
      <mat-tab label="Voting Card">
        <mat-card-content>
    
          <div class="row">
            <div class="col-lg-12 text-right b-b-1 p-b-10 m-b-20" *ngIf="!customersForm.value.votingCardUrl">
              <span class="error-text">No record available please generate the link.</span>
            </div>
              <div class="col-lg-12 d-flex flex-column align-items-center">
                <div class="image-container">
                  <img class="aadhar-img" [src]="getDocumentUrl('votingCardUrl_file' , 'votingCardUrl_show_URL' , 'votingCardUrl')" />
                  <div class="upload-icon" (click)="votingCardPic.click()">
                    <i-tabler name="upload" class="icon-20"></i-tabler>
                  </div>
                </div>
                <div class="d-flex align-items-center m-b-16 m-t-16">
                  <img class="mat-card-avatar" [src]="getDocumentUrl('votingCardUrl_file' , 'votingCardUrl_show_URL' , 'votingCardUrl')" class="rounded-circle" width="50" />
                  <button mat-flat-button color="primary" class="m-l-16 input-file-button">
                    <input type="file" (change)="displaySelectedFile($event, 'votingCardUrl_file', 'votingCardUrl_show_URL')" #votingCardPic />
                  </button>
                </div>
              </div>
          </div>
    
          <div class="m-t-12 text-right">
            <button mat-flat-button color="primary">Generate Link</button>
            <button mat-raised-button color="accent" class="m-l-8"  (click)="uploaddocuments('votingCardUrl','votingCardUrl_file')">Upload</button>
            <button mat-flat-button color="warn" class="m-l-8" (click)="cancel('votingCard')">Cancel</button>
          </div>
        </mat-card-content>
      </mat-tab>
      <!-- voting Form End -->
    </form>
  </mat-tab-group>
</mat-card>
